@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

* {
    padding: 0;
    margin: 0
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:#30BA8F;    
    color: white;
}
img{ width: 15%;
    border-color: #F5F5F5, 25em;
    }

main{
    background-color:#F5F5F5;    
    color: black;
}